---
import Layout from "../layouts/Layout.astro";
import cauldronOutlines from "../assets/cauldron-outlines.png";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";

const { src } = await getImage({
  src: import("../assets/wool-bg.jpg"),
  alt: "My hero image",
});
---

<!-- bg-barley-corn-600 -->
<Layout title="Wollfeuer | Home">
  <main class="w-full">
    <div
      class="h-96 w-full bg-barley-corn-600 bg-[url('/background-wool-neutral-2.webp')] bg-cover bg-fixed bg-center bg-blend-overlay">
      <div
        class="flex h-96 flex-col items-center justify-center bg-topBottomShade">
        <Image
          class="rounded-xl bg-barley-corn-100/20 px-1 py-1 drop-shadow-md backdrop-blur-sm"
          height={374}
          src={cauldronOutlines}
          alt="Wollkessel"
          format="avif"
        />
      </div>
    </div>
    <h1 class="my-8 text-center text-3xl" style={{ textWrap: "balance" }}>
      Begeisterung ist der Anfang aller Wunder<br />&<br />der Atem der Seele.
    </h1>
  </main>

  <!-- , linear-gradient(285deg,hsl(34deg 26% 49% / 0.2) 0%,hsl(34deg 30% 52% / 0.2) 20%,hsl(34deg 36% 56% / 0.2) 51%,hsl(34deg 44% 59% / 0.2) 83%,hsl(34deg 53% 58% / 0.2) 100%) -->
  <!-- bg-[url('/wool-bg.jpg')] -->
  <!-- style={{backgroundImage: `url(${src})`}} -->
</Layout>
