---
import Spiral from "../assets/spiral.png";
import { Image } from "@astrojs/image/components";
---

<footer
  class="flex w-full justify-center bg-barley-corn-950 text-barley-corn-50">
  <div class="container flex items-center justify-between pl-3">
    <div class="py-3">
      <h3 class="font-display"><a href="/">Wollfeuer</a></h3>
      <address class="text-sm not-italic">
        Susan Wales<br />Altthymener Dorfstr. 16<br />16798 Atthymen<br /><a
          class="underline-offset-2 hover:text-barley-corn-100 hover:underline"
          href="tel:+4915150715645">tel: 0151 50715645</a
        ><br /><a
          class="underline-offset-2 hover:text-barley-corn-100 hover:underline"
          href="mailto:suwa0405@yahoo.de">mail: suwa0405@yahoo.de</a
        >
      </address>
    </div>
    <div><Image src={Spiral} alt="Spirale" /></div>
  </div>
</footer>
