---
export interface Props {
  title: string;
}

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!-- bg-gradient-to-br from-amber-500 to-amber-600 --><!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="grid min-h-screen grid-rows-[auto_1fr_auto] items-center bg-brown font-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: JosefinSlab;
    src: url("/fonts/JosefinSlab-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: JosefinSlab;
    src: url("/fonts/JosefinSlab-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: Playfair;
    src: url("/fonts/Playfair_9pt-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: Playfair;
    src: url("/fonts/Playfair_9pt-SemiBold.ttf");
    font-weight: 600;
  }
</style>
